<div class="card bg-dark text-center invisible">
    <div class="card-header">
        Welcome to the Study Buddy Chat!
    </div>
        <form action="" method="">{% csrf_token %}
            <fieldset disabled>
                <div class="card-body">
                    <input  name="room" type="text" class="form-control"
                            placeholder="Enter chat name"
                            aria-label="Chat room name"
                            size="100" />
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-secondary" type="button">
                        Join chat!
                    </button>
                </div>    
            </fieldset>
        </form>
    </div>
</div>